<h1>New Item</h1>

<%# from here form data as Item type goes to Router as POST
form_for is form builder function of Phx

@item is a changeset, not an Auction.Item struct.
%>

<%= render("form.html",
            item: @item,
            action: Routes.item_path(@conn,:create))
 %>
